cupy-cuda12x==13.4.1
fastrlock==0.8.3
imageio==2.37.0
joblib==1.4.2
lazy_loader==0.4
markdown-it-py==3.0.0
mdurl==0.1.2
mrcfile==1.5.4
ndjson==0.3.1
networkx==3.4.2
numpy==2.2.5
packaging==25.0
pillow==11.2.1
Pygments==2.19.1
PyYAML==6.0.2
rich==14.0.0
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
slack_sdk==3.35.0
threadpoolctl==3.6.0
tifffile==2025.3.30
